/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/* ------------------------
       common CSS part
    ----------------------- */
body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/* --------------------------
    banner section CSS part 
    -------------------------*/
.banner-section {
    background: #000;
    border-radius: 15px;
}

.banner-content {
    color: #Fff;
    height: 80vh;
    margin: 40px 0;
    border-radius: 15px;
    display: flex;
}

.banner-text {
    width: 50%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-text h1 {
    font-size: 60px;
    font-weight: 700;
}

/* animation CSS start */

.banner-text #text-animate {
    position: relative;
}

.banner-text #text-animate::after {
    content: attr(data-text);
    position: absolute;
    top: -2px;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 1px solid #05c46b;
    color: #05c46b;
    overflow: hidden;
    animation: text-animate 3s linear infinite;
}

@keyframes text-animate {

    0%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

/* animation CSS end */

.banner-text p {
    margin: 20px 0;
}

.link-btn {
    padding: 10px 20px;
    background: #05c46b;
    width: 150px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
}

.link-btn>span {
    margin-left: 10px;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center center;
}



/*----------------------------
        blog section CSS part
  ----------------------------*/

.blog-container {
    display: flex;
    justify-content: space-between;
}

.blog-pages {
    height: 300px;
    width: 300px;
    background: #000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-pages .blog-page-list {
    width: 80%;
    text-align: center;
}

.blog-pages .blog-page-list a {
    display: block;
    color: #000;
    background: #fff;
    margin: 30px 0;
    padding: 15px 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
}

.blog-pages .blog-page-list #match {
    background: #05c46b;
    color: #fff;
}



/* match schedule CSS part */

.match-schedule {
    width: calc(100% - 320px);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.match-schedule .match {
    padding: 40px 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.match .country-flag {
    display: flex;
    justify-content: space-between;
}

.match .country-name {
    margin: 15px 0;
}

.match .country-name h4>span {
    margin: 0 7px;
}

.germany img {
    width: 100%;
    height: 100%;
}



/* -----------------------
        hidden buttton 
 --------------------------*/
.tablet-view {
    margin-top: 60px;
    text-align: center;
    display: none;
}

.tablet-view a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background: #05c46b;
    border-radius: 10px;
}


/* -----------------------
       footer section CSS 
  ------------------------*/

footer {
    height: 400px;
    margin-top: 80px;
    background: #000;
    color: #FFF;
}

.footer-content {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text h1 {
    font-size: 40px;
}

#horizontal-line {
    width: 100%;
    margin: 20px 0;
    border: 1px solid #ddd;
}

.footer-menu ul li {
    display: inline-block;
    padding: 0 20px;
    margin: 20px 0;
}

.footer-icon {
    margin-bottom: 15px;
}

.footer-icon a {
    padding: 10px;
    font-size: 20px;
    color: #fff;
}



/* media qurie CSS */
/* For tablet devices */

@media only screen and (min-width:689px) and (max-width:992px) {
    .container {
        width: 100%;
        margin: 0;
    }

    /* banner responsive CSS */
    .banner-section {
        border-radius: 0;
    }

    .banner-content {
        margin: 0;
        height: 500px;
    }

    .banner-text {
        width: 50%;
        padding-left: 20px;
        overflow: hidden;
    }

    .banner-text h1 {
        font-size: 45px;
    }

    .banner-text p {
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    /* blog section responsive CSS */
    .blog-container {
        flex-direction: column;
    }

    .match-schedule {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 20px;
    }

    .blog-pages {
        height: 200px;
        width: 100%;
        background: #fff;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .blog-pages .blog-page-list {
        width: 100%;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
    }

    .blog-pages .blog-page-list a {
        display: inline-block;
        padding: 10px 50px;
        background: #fff;
        margin: 0;
        border: 1px solid #ddd;
        font-size: 20px;
    }

    .tablet-view {
        display: block;
    }
}

/* For mobile device responsive */

@media only screen and (max-width:688px) {
    .container {
        width: 100%;
        margin: 0;
    }

    /* banner section responsive CSS */
    .banner-section {
        border-radius: 0;
    }

    .banner-content {
        height: 100%;
        flex-direction: column;
        margin: 0;
    }

    .banner-text {
        width: 85%;
        margin: auto;
        text-align: center;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-img {
        width: 100%;
        margin: 30px;
    }

    .banner-text h1 {
        font-size: 30px;
        margin-top: 30px;
    }

    .banner-text p {
        width: 100%;
        height: 50px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .banner-text #text-animate::after {
        top: -1px;
    }

    .banner-text a {
        display: block;
    }


    /* blog section responsive CSS */
    .blog-container {
        flex-direction: column;
    }

    .match-schedule {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 20px;
    }

    .blog-pages {
        width: 100%;
        background: #fff;
    }

    .blog-pages .blog-page-list a {
        border: 1px solid #ddd;
    }

    footer {
        height: 550px;
    }

    .footer-menu ul li {
        display: block;
    }
}